.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page-header-custom{
  margin-left: 20px;
  margin-top:80px;
  text-align: center;
}

.thumbnail-center{
  margin-left: 20px;
}

.text-color-nav {
  color:#4E6731
}

.jumbotron-color {
  background-color:#4E6731;
  color:#EAF5CB;
  text-align: center;
}

.jumbotron-color h1 {
  font-weight: bold ;
 
}

.jumbotron-color p {
  font-weight: bold;
  font-size: 19pt;
  
}


.img-icon-weed{
  border: 0;
  vertical-align: bottom;
}

.col-icon-weed{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  .container-text-jumbotron {
    text-align: center;
  }

.text-best-products {
  font-size: 3.4em;
  color:#4E6731;
  font-weight:500
}

.text-logo {
  font-size: 1.35em;
}

.img-logo-header {
  margin-left: auto;
  margin-right: auto;
}

.row-best-products {
  text-align: center;
}

.text-carousel-title {
  color: #4E6731
}

.text-carousel-descrip {
  color: #4E6731
}

.products-panel {
  height: 500px;
  background-color:#4E6731;
  display: block;
}




