.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-header-custom {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: center;
  border-bottom: unset;
}

.page-header-brands {
  margin-left: 20px;
  text-align: left;
}

.title-brand-parent {
  margin-top: 50px;
}

.thumbnail-center {
  margin-left: 20px;
}

.text-color-nav {
  color: #7b8c30;
}

.jumbotron-color {
  background-color: #475e1d;
  color: #eaf5cb;
  text-align: center;
}

.jumbotron-color h1 {
  font-weight: bold;
}

.jumbotron-color p {
  font-weight: bold;
  font-size: 19pt;
}

.img-icon-weed {
  border: 0;
  vertical-align: bottom;
}

.col-icon-weed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-text-jumbotron {
  text-align: center;
}

.text-best-products {
  font-size: 3.4em;
  color: #4e6731;
  font-weight: 500;
}

.text-logo {
  font-size: 1.2em;
}

.img-logo-header {
  margin-left: auto;
  margin-right: auto;
}

.row-best-products {
  text-align: center;
}

.text-carousel-title {
  color: #475e1d;
}

.text-carousel-descrip {
  color: #475e1d;
}

.products-panel {
  height: 500px;
  display: block;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.hero-image {
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.hero-children {
  position: absolute;
  text-align: center;
  bottom: 1vh;
  top: 3vw;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.hero-children h1 {
  font-weight: normal;
  font-size: 30pt;
  color: white;
  vertical-align: middle;
}

.hero-children p {
  vertical-align: middle;

  font-weight: normal;
  font-size: 18pt;
  color: white;
}

.item-info-col {
  text-align: center;
}

.item-info-panel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.item-info-panel-descrip {
  font-size: 3vh;
  display: inline-block;
  width: 30vh;
  color: #7b8c30;
}
.h1-subtitle {
  font-size: 4vh;
  color: #7b8c30;
}

.item-parallax-info {
  text-align: center;
  color: #475e1d;
}

.spacer {
  height: 3vh;
}

.spacer1 {
  height: 1vh;
}

.spacer5 {
  height: 5vh;
}

.spacer8 {
  height: 8vh;
}

.navbar-color {
  background-image: -webkit-linear-gradient(top, #eaf5cb 0, #92a649 100%);
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.nav-item {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: unset;
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgb(34, 151, 34);
}

.brand-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.row-info {
  background-color: unset;
}

.row-brands-scroll {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

.title-brand-col {
  padding-right: unset;
  padding-left: unset;
}

.title-brand-containter {
  background-color: #a8b958;

  width: 100%;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  overflow: hidden;
}

.title-brand-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.brands-border {
  height: 1vh;
  background: #627d4d;
  background: -moz-linear-gradient(-45deg, #627d4d 34%, #1f3b08 56%);
  background: -webkit-linear-gradient(-45deg, #627d4d 34%, #1f3b08 56%);
  background: linear-gradient(135deg, #627d4d 34%, #1f3b08 56%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=1 );
}

.brands-border-top {
  height: 1vh;
  background: #627d4d;
  background: -moz-linear-gradient(-45deg, #627d4d 34%, #1f3b08 56%);
  background: -webkit-linear-gradient(-45deg, #627d4d 34%, #1f3b08 56%);
  background: linear-gradient(135deg, #627d4d 34%, #1f3b08 56%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=1 );
}

.brand-padding {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.brands-row {
  background-color: #a8b958;
}

.footer {
  text-align: center;
  vertical-align: middle;
  color: #222;
  background-color: #4e6731;
  height: 40px;
}
.footer-text {
  color: #f7f7f7;
  font-size: 13px;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

div.row {
  margin-right: 0px;
  margin-left: 0px;
}

div.col-lg-1,
div.col-lg-10,
div.col-lg-11,
div.col-lg-12,
div.col-lg-2,
div.col-lg-3,
div.col-lg-4,
div.col-lg-5,
div.col-lg-6,
div.col-lg-7,
div.col-lg-8,
div.col-lg-9,
div.col-md-1,
div.col-md-10,
div.col-md-11,
div.col-md-12,
div.col-md-2,
div.col-md-3,
div.col-md-4,
div.col-md-5,
div.col-md-6,
div.col-md-7,
div.col-md-8,
div.col-md-9,
div.col-sm-1,
div.col-sm-10,
div.col-sm-11,
div.col-sm-12,
div.col-sm-2,
div.col-sm-3,
div.col-sm-4,
div.col-sm-5,
div.col-sm-6,
div.col-sm-7,
div.col-sm-8,
div.col-sm-9,
div.col-xs-1,
div.col-xs-10,
div.col-xs-11,
div.col-xs-12,
div.col-xs-2,
div.col-xs-3,
div.col-xs-4,
div.col-xs-5,
div.col-xs-6,
div.col-xs-7,
div.col-xs-8,
div.col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}

.card {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
  max-width: 290px;
  margin: auto;
  text-align: center;
  font-family: arial;
  color: #1f3b08;
  margin-top: 20px;
}
.card p {
  font-size: 14px;
}
.card h1 {
  color: #1f3b08;
  font-size: 30px;
}

.price {
  color: rgb(131, 116, 40);
  font-size: 25px;
}

.card-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #475e1d;
  text-align: center;

  width: 100%;
  font-size: 18px;
}

.product-detail-image-container {
  height: 340px;
  position: relative;
}

.product-detail-image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.product-detail-price {
  text-align: center;
  color: #475e1d;
  font-weight: bold;
  font-size: 28px;
}

.product-info-container {
  color: #1f3b08;
  height: 320px;
  padding: 10px;
}

.contact-number {
  font-weight: 700;
  color: #475e1d;
  font-size: 18px;
}

.product-info-container h1 {
  color: #614925;
}
